body {
  font-family: "Inter", -apple-system;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94vw;
  padding: 10px 50px;
  margin: 0;
  background-color: #1a1a1a;
  color: #FFFFFF;
}
.menu-li {
  list-style: none;
  margin-right: 10px;
}
.menu-item {
    cursor: pointer;
} 
.activities {
  padding: 20px 100px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.performance-form {
  display: flex;
  flex-direction: column;
}
.performance-form > input {
  width: 200px;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

.heading-primary {
  text-align: center;
  font-size: 90px;
  font-weight: 800;
}
.heading-gradient {
  background: -webkit-linear-gradient(rgb(153, 0, 255), rgb(255, 112, 29));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.activity {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f38825;
  border: 1px solid #f38825;
  color: #FFF;
  margin: 10px;
  box-shadow: inset 0 3px 10px rgba(0,0,0,.16);
  box-shadow: 0 3px 10px rgba(0,0,0,.16);
  z-index:10;
  width:100%;
}

.name {
  font-size: 25px;
  font-weight: 800;
}
.distance {

}

.type {
  color: #f38825;
  background-color: #FFFFFF;
  border-radius: 100px;
  width: fit-content;
  margin-top: 10px;
  margin-left: 20px;
  padding: 2px 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  min-width: 500px;
  margin-bottom: 10px;
  z-index: 10;
  border-radius: 5px;
}

.absciss-picker {
  display: flex;
  margin: 20px 0;
  max-width: 100%;
  flex-wrap: wrap;
}
.absciss-container {
    position: relative;
}
input.absciss-item {
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid #D7D7D7;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  max-width: auto;
  z-index:9;
}
input.absciss-item-active {
  border: 1px solid #f38825;
  color: #f38825;
  position: relative;
  z-index:10;
  padding-right: 30px;
}
.absciss-item:hover {
  border: 1px solid #f38825;
  color: #f38825;
}
.absciss-item-cross {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 8px;
  height: 15px;
  width: 15px;
  color: #707070;
  border: 1px solid #707070;
  text-align: center;
  border-radius: 100px;
  font-size: 11px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.absciss-item-cross:hover {
  color: #FFF;
  background-color: black;
  border: 1px solid black;
}
.name, .distance, .average-speed {
  padding: 0 20px;
}
.name {
  margin-top: 5px;
}
.average-speed {
  margin-bottom: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}